h1 {
    text-align: center;
    font-family: sans-serif;
}

.row {
    font-size: 0px;
    width: 568px;
    margin: auto;
}

.box {
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin-bottom: 0px;
}

input[type="number"] {
    width: 60px;
    height: 58px;
    margin: auto;
    text-align: center;
    border: none;
    font-family: sans-serif;
    font-size: 16px;
}

input[type="number"]:invalid {
    background-color: #ff2200;
}

input[type="button"] {
    margin-top: 50px;
    /* border: 2px solid #c2d1a5; */
    border: none;
    color: #ffffff;
    background-color: #2f908c;
    font-size: 26px;
    font-family: sans-serif;
    display: inline-block;
    border-radius: 15%;
}

input[type="button"]:hover {
    color: #2f908c;
    /*color: #1b8860;*/
    background-color: #12e5dc;
}

.answer {
    text-align: center;
    margin-top: 22px;
    margin-bottom: 22px;
    font-size: 16px;
    font-family: sans-serif;
}

#buttons {
    text-align: center;
}